@import url("https://fonts.googleapis.com/css?family=Heebo:400,600,700");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #f5f3f3;
  color: #2b2929;
  font-family: "Heebo", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  margin: 0 0 14.66667px; }

nav {
  background: #2b2929;
  height: 44px;
  text-align: center;
  padding: 4px; }
  nav button {
    border: 1px solid #004880;
    background: #2b2929;
    color: #0090ff;
    padding: 0 8.8px;
    border-left: none;
    height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer; }
    nav button:focus {
      outline: none; }
    nav button:first-child {
      border-left: 1px solid #004880; }
    nav button:active {
      background: #0090ff;
      color: #f5f3f3; }

.layout--wrapper {
  height: calc(100vh - 44px);
  overflow-y: scroll; }

.layout {
  /*
    padding: $spacer/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $spacer/3;
*/
  /*
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
*/
  padding: 14.66667px; }
  .layout.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; }
    .layout.flex .card {
      width: 20%; }
  .layout.masonry {
    column-count: 3;
    column-gap: 6.66667px; }
    .layout.masonry .card {
      break-inside: avoid;
      float: left; }
    .layout.masonry .card:nth-child(6n+1) {
      clear: left; }
  .layout.single-column {
    width: 440px;
    margin: 0 auto; }
  .layout.two-column {
    max-width: 800px;
    margin: 0 auto;
    column-count: 2;
    column-gap: 6.66667px; }
    .layout.two-column .card {
      break-inside: avoid; }

.card {
  position: relative;
  border: 4px solid #f5f3f3;
  background: #fff;
  min-height: 288px;
  width: 100%;
  margin-bottom: 6.66667px;
  color: #aca7a7; }
  .card > div {
    padding: 22px; }
  .card .media {
    min-height: 200px;
    height: 15vh;
    background: #e2dddd; }
  .card h2, .card h3, .card h4, .card p {
    font-family: "redacted_scriptbold"; }
  .card.active {
    border-color: #0090ff;
    color: #0090ff; }
