@import url("https://fonts.googleapis.com/css?family=Heebo:400,600,700");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #f5f3f3;
  color: #2b2929;
  font-family: "Heebo", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  margin: 0 0 14.66667px; }

a {
  color: #0090ff;
  text-decoration: none; }

nav {
  background: #2b2929;
  height: 44px;
  text-align: center;
  padding: 4px; }
  nav a {
    border: 1px solid #004880;
    background: #2b2929;
    color: #0090ff;
    padding: 0 8.8px;
    border-left: none;
    height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block; }
    nav a:focus {
      outline: none; }
    nav a:first-child {
      border-left: 1px solid #004880; }
    nav a:active, nav a:target {
      background: #0090ff;
      color: #f5f3f3; }

.layout--wrapper {
  height: calc(100vh - 44px);
  overflow-y: scroll; }

.layout {
  padding: 14.66667px; }
  .layout.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; }
    .layout.flex .card {
      width: 20%; }
  .layout.masonry {
    column-count: 5;
    column-gap: 6.66667px; }
    .layout.masonry .card {
      break-inside: avoid; }
    .layout.masonry .card:nth-child(6n+1) {
      clear: left; }
  .layout.single-column {
    width: 440px;
    margin: 0 auto; }
  .layout.two-column {
    max-width: 800px;
    margin: 0 auto;
    column-count: 2;
    column-gap: 6.66667px; }
    .layout.two-column .card {
      break-inside: avoid; }

.info {
  text-align: center;
  padding: 14.66667px; }
  .info * {
    margin: 8px 0 0; }
  .info span {
    background: #fff;
    border: #f5f3f3 solid 1px;
    margin-right: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: inline-block; }

.card {
  position: relative;
  border: 4px solid #f5f3f3;
  background: #fff;
  min-height: 288px;
  width: 100%;
  margin-bottom: 6.66667px;
  color: #aca7a7; }
  .card > div {
    padding: 22px; }
  .card .media {
    position: relative;
    min-height: 200px;
    height: 15vh;
    overflow: hidden;
    padding: 0;
    background: #d2c9c9; }
    .card .media img {
      filter: grayscale(100%);
      width: 100%; }
  .card h2, .card h3, .card h4, .card p {
    font-family: "redacted_scriptbold"; }
  .card.active {
    border-color: #0090ff;
    color: #0090ff; }
