@import url('https://fonts.googleapis.com/css?family=Heebo:400,600,700');
$font : "Heebo";

$black : #2b2929;
$blue : #0090ff;
$white: #fff;
$grey: #f5f3f3;
$red: #c80722;

$spacer: 44px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: $grey;
    color: $black;
    font-family: $font, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
 h1, h2, h3, h4 {
     margin: 0 0 $spacer/3;
}

a {
    color: $blue;
    text-decoration: none;
}
 

nav {
    background: $black;
    height: $spacer;
    text-align: center;
    padding: 4px;
    a {
        border: 1px solid darken($blue, 25%);
        background: $black;
        color: $blue;
        padding: 0 $spacer/5;
        border-left: none;
        height: 36px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 36px;
        text-decoration: none;
        cursor: pointer;
        display: inline-block;
        &:focus {
            outline: none;
        }    
        &:first-child {
            border-left: 1px solid darken($blue, 25%);
        }
        &:active, &:target {
            background: $blue;
            color: $grey;
        }
    }
}



.layout--wrapper {
    height: calc(100vh - 44px);
    overflow-y: scroll;
}
.layout {
    padding: $spacer/3;
    &.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        .card {
            width: 20%;
        }
    }
    &.masonry {
        column-count: 5;
        column-gap: $spacer/5 - 8px;
        .card {
            break-inside: avoid;
            page-break-inside: avoid;
        }
        .card:nth-child(6n+1){
            clear: left;
        }
    }
    &.single-column {
        max-width: 440px;
        margin: 0 auto;
    }
    &.two-column {
        max-width: 800px;
        margin: 0 auto;
        column-count: 2;
        column-gap: $spacer/5 - 8px;
        .card {
            break-inside: avoid;
            page-break-inside: avoid;
        }
    }
}
.info {
    text-align: center;
    padding: $spacer/4;
    > * {
        margin: 8px 0 0;
    }
    h2 {
        line-height: 32px;
    }
    span {
        background: $white;
        border: $grey solid 1px;
        margin-right: 1px;
        width:30px;
        height: 30px;
        line-height: 30px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        //font-family: monospace;
    }
}
.card {
    position: relative;
    border: 4px solid $grey;
    background: $white;
    min-height: 288px;
    width: 100%;
    margin-bottom: $spacer/5 - 8px;
    color: lighten($black, 50%);
    break-inside: avoid;
    > div {
        padding: $spacer/2;
    }
    .media {
        position: relative;
        min-height: 200px;
        height: 15vh;
        overflow: hidden;
        padding: 0;
        background: darken($grey, 15%); 
        img {
            filter: grayscale(100%);
            width: 100%;
        }
    }
    h2, h3, h4, p {
        font-family: "redacted_scriptbold";
    }
    &.active {
        border-color: $blue;
        color: $blue;
    }
}
